body{
    background-color:#ce2e06;
    font-family: "Space Mono";
    color: white;
}
.container{
display: flex;
justify-content: center;
align-items: center;
height: 85vh;
}
.buttons{
    display: flex;
    justify-content: center;
}
button{
    border-radius: 100px;
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    border: black;
    transition: transform 200ms;
    margin-bottom: 20px;
}
button:hover{
transform: scale(110%);
}
#p1{
    padding: 32px;
    letter-spacing: -2px;
    font-size: 45px;
}